:root {
    --black : #1b2021;
    --gray  : #30343f;
    --maroon: #89023e;
    --pink  : #ea638c;
    --beige : #ffd9da;
}

@font-face {
    font-family: title_font;
    src: url(./assets/fonts/Satoshi-Bold.otf);
}

@font-face {
    font-family: bread_font;
    src: url(./assets/fonts/Satoshi-Bold.otf);
}

@font-face {
    font-family: menu_font;
    src: url(./assets/fonts/Satoshi-Light.otf);
}

body {
    /* removes the white border around all other divs */
    padding: 0;
    margin: 0;
    background-color: var(--beige);
    color: var(--gray);
}

#cool_pic {
    float: left;
    width: 50vw;
    height: 60vh;
    margin: auto;
    margin-top: 2vw;

    align-items: center;
    justify-content: center;
}

#cool_pic img {
    display: block;
    margin: auto;
    width: inherit;
    height: inherit;

    object-fit: cover;
    object-position: 0% 60%;
    
    border-style: solid;
    border-color: var(--pink);
    border-radius: 25px;
    border-width: 5px;
}

#header {
    /*position: relative;
    /*top: 0;
    /*width: 100%;*/
    height: 12vh;

    background-color: var(--maroon);
    color: var(--pink);

    display: flex;
    align-items: center;
    /*justify-content: center;*/
}

#header h1 {
    font-family: title_font;
    font-size: 45px;
    padding-left: 3vw;
    transition: 400ms ease;
}

#header h1:hover {
    color: var(--beige);
}

.header_text {
    color: inherit;
    text-decoration: none;
}

#bread {
    background-color: var(--beige);
    padding-top: 1vw;
    padding-left: 3vw;
}

#bread p {
    font-family: bread_font;
    font-weight: 550;
    font-size: 20px;
    color: var(--gray);
    
    line-height: 1.5rem;
    padding-left: clamp(0.5rem, 1.5vw, 0.5rem);
}

#left {
    width: 40vw;
    float: left;
}

#intro {
    border-radius: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: var(--pink);

    width: 25vw;
    min-height: min-content;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

#intro p {
    font-size: medium;
}

.menu_item {
    font-family: menu_font;
    font-weight: 600;
    font-size: 2.5vw;
    text-decoration: none;
    color: var(--gray);
    
    padding: clamp(0.7rem, 2.0vw, 0.7rem);

    display: block;

    transition: 400ms ease;
}

#menu {
    margin-top: 0vh;
    width: 35vw;
    float: left;
}

#menu:hover > .menu_item:hover{
    color: var(--maroon);
    opacity: 1;
}


#menu:hover > .menu_item {
    opacity: 0.3;
}

#email_symbol {
    height: 50px;
}
