body {
    background-color: #2b2b2b;
    padding: 0;
    margin: 0;
}

#topthingy {
    position: relative;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #2e4460;

    display: flex;
    align-items: center;
    justify-content: center;
}

#topthingy h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: #bbbbbb;
}

#topthingy #myName:hover {
    color: hotpink;
}

#links {
    position: absolute;
    top: 100px;
    right: 0;
    width: 180px;
    height: calc(100% - 100px);
    background-color: #365071;
    float: right;
}

#links a {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: #bbbbbb;
    text-decoration: none;
}

#links a:hover {
    color: hotpink;
}

#links #lundLogo {
    position: relative;
    left: 15px;
    top: 15px;
    width: calc(100% - 15px);
}

#links #lundLogo:hover {
    opacity: 0.5;
}

.iLink {
    position: relative;
    left: 10px;
    width: 170px;
}

#bread {
    position: relative;
    left: 10px;
    width: calc(100% - 200px);
    color: #bbbbbb;
}

#bread p {
    font-size: 20px;
}